.about-me {
  width: 100%;
  padding: 100px @basic-side-top-padding;
  background-color: #414141;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;

  @media (max-width: @tablet-width) {
    width: 100%;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
  }

  @media (max-width: @mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}

.about-me__article {
  z-index: 2;
  position: relative;
  order: 2;
  width: 370px;
  height: 100%;
  background: #2C2C2C;
  border-radius: 14px;
  padding: 30px 40px;

  @media (max-width: @tablet-width) {
    width: 100%;
  }
}

.about-me__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: @standart-white;
}

.about-me__pic {
  z-index: 1;
  position: relative;
  display: flex;

  &--double {
    order: 1;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &::after {
      z-index: -1;
      position: absolute;
      content: '';
      width: 400px;
      height: 600px;
      left: -50px;
      top: 50px;
      border-radius: 50%;
      border: 89px solid #E4E4E4;
      filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
    }

    @media (max-width: @tablet-width) {
      z-index: 2;
      order: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;

      &::after {
        top: 0;
        left: 0;
        height: 150px;
        width: 75%;
      }
    }

    @media (max-width: @mobile-width) {
      grid-column-start: 1;
      grid-column-end: -1;

      &::after {
        display: none;
      }
    }
  }

  &--solo {
    order: 3;
    align-items: center;

    &::before {
      z-index: -1;
      position: absolute;
      content: '';
      width: 400px;
      height: 400px;
      right: 20px;
      top: 50%;
      border-radius: 50%;
      border: 55px solid #00C4F0;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
    }

    &::after {
      z-index: -1;
      position: absolute;
      content: '';
      width: 300px;
      height: 300px;
      right: 120px;
      top: 0;
      border-radius: 50%;
      border: 34px solid #E2A200;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 70px rgba(0, 193, 236, 0.25));
    }

    @media (max-width: @tablet-width) {
      order: 1;
      justify-content: flex-end;
      width: 250px;
      margin-right: -10px;

      &::after {
        top: 60%;
        left: -5%;
      }

      &::before {
        top: -10%;
        left: -30%;
      }
    }

    @media (max-width: @mobile-width) {
      width: 100%;
      height: 250px;
      justify-content: center;

      &::after {
        top: 0;
        left: 0;
      }

      &::before {
        top: 20%;
        left: 100%;
        transform: translateX(-100%);
        width: 250px;
        height: 250px;
        border: 40px solid #00C4F0;
      }
    }
  }
}

.about-me__img-wrap {
  padding: 20px;
  background: #2C2C2C;
  border-radius: 14px;
  position: relative;
  z-index: 1;

  &--double {
    margin-right: -20px;

    &:not(:last-child) {
      margin-top: -20px;
    }

    @media (max-width: @tablet-width) {
      width: 100%;
      margin-right: 0;
      margin-top: -30px;

      &:not(:last-child) {
        margin-right: -10px;
      }
    }
  }

  &--solo {
    margin-left: -20px;

    @media (max-width: @mobile-width) {
      height: 300px;
    }
  }
}

.about-me__img {
  object-fit: cover;

  &--double {
    width: 200px;
    height: 200px;

    @media (max-width: @tablet-width) {
      width: 100%;
    }

    @media (max-width: @mobile-width) {
      height: 100%;
      object-fit: cover;
      background-color: tomato;
    }
  }

  &--solo {
    width: 210px;
    height: 360px;

    @media (max-width: @mobile-width) {
      width: 100%;
      height: 250px;
      object-fit: contain;
    }
  }

  @media (max-width: @tablet-width) {
    width: 100%;
  }
}
