.contact-modal {
  z-index: 5;
  display: none;

  &--open {
    display: block;
  }
}

.contact-modal__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(000, 000, 000, 0.7);
}

.contact-modal__content {
  position: fixed;
  z-index: 1;
  width: 70%;
  max-width: 600px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(44, 44, 44, 0.98);

  padding: @basic-side-top-padding;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: @mobile-width) {
    width: 90%;
  }
}

.contact-modal__close-button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: -60px;

  width: 45px;
  height: 45px;

  cursor: pointer;

  @media (max-width: @mobile-width) {
    right: 0;
    top: -60px;
  }
}

.contact-modal__close-icon {
  width: 100%;
  height: 100%;

  fill: @standart-white;

  &:hover,
  &:focus {
    fill: lighten(@submit-color, 70%);
  }
}

.contact-modal__title {
  color: @standart-white;
  font-size: 28px;
  text-transform: capitalize;
  font-family: 'Roboto Mono', "Arial", monospace;
}

.contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
}

.contact-form__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-form__item-title {
  text-align: right;
  font-family: 'Roboto Mono', "Arial", monospace;
  color: @standart-white;
  margin-right: 10px;
  text-transform: capitalize;
  align-self: center;
}

.contact-form__input {
  flex-grow: 1;
  max-width: 70%;
  height: 25px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.contact-form__text-input {
  width: 80%;
  height: 120px;
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
  padding: 5px 10px;
}

.contact-form__buttons {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  @media (max-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
}

.contact-form__btn {
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
  transition: all .4s ease;

  &--submit {
    background-color: @standart-white;
    color: @standart-black;
    font-weight: bold;
    justify-self: start;

    &:hover,
    &:focus {
      background-color: @submit-color;
      color: @standart-white;
    }
  }

  &--reset {
    background-color: @submit-color;
    color: @standart-white;
    justify-self: end;

    &:hover,
    &:focus {
      background-color: @standart-white;
      color: @standart-black;
      font-weight: bold;
    }
  }

  @media (max-width: @tablet-width) {
    justify-self: center;
  }
}
