.paralax {
  height: @standart-paralax-height;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../img/paralax/paralax_4.jpg');

  &::after {
    content: '';
    bottom: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, #414141 0%, rgba(65, 65, 65, 0) 100%);
  }

  &::before {
    content: '';
    top: -1px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(65, 65, 65, 0) 100%);
    transform: rotate(180deg);
  }

  &--stack {
    height: @stack-paralax-height;

    &::after {
      height: 75px;
    }

    &::before {
      display: none;
    }
  }

  &--about-me {
    height: @about-me-paralax-height;
    background-image: url('../img/paralax/paralax_1.jpg');
  }

  &--portfolio {
    height: @portfolio-paralax-height;
    background-image: url('../img/paralax/paralax_2.jpg');


    &::after {
      display: none;
    }

    &::before {
      height: 40px;
    }
  }

  &--footer {
    height: @footer-paralax-height;
    background-image: url('../img/paralax/paralax_3.jpg');

    &::after {
      height: 40px;
    }

    &::before {
      display: none;
    }
  }

  &--all-projects {
    height: @all-projects-page;
  }
}

.paralax__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.paralax__title {
  z-index: 1;
  font-weight: bold;
  font-size: 34px;
  color: @hello-text-color;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Roboto Mono', "Arial", monospace;
  line-height: 30px;
}

.typing.animate {
  width: 29ch;
  border-right: 0.1em solid black;
  font-family: monospace;
  font-size: 2em;
  animation: type 2.5s steps(20), writer 1s infinite alternate, delete 1s steps(5) 2.5s, type2 1s steps(4) 3s forwards, type3 3s steps(16, end) 6s forwards;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.typing.animate::before {
  content: "This is my ";
  animation: type2 1s steps(4) 3s forwards, type3 3s steps(22, end) 6s forwards;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 18ch;
  }
}

@keyframes type2 {
  from {
    width: 10ch;
    content: "This is my "
  }
  to {
    width: 11ch;
    content: "This is my "
  }
}

@keyframes type3 {
  from {
    width: 11ch;
    content: "This is my technologies stack"
  }
  to {
    width: 29ch;
    content: "This is my technologies stack"
  }
}

@keyframes writer {
  50% {
    border-color: transparent;
  }
}

@keyframes delete {
  from {
    width: 16ch;
  }
  to {
    width: 10ch;
  }
}
