.portfolio {
  height: 100vh - @portfolio-paralax-height;
  background: @header-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__wrap {
  height: 85%;
  width: 700px;
}
