@standart-black: #000000;
@standart-white: #ffffff;
//header colors
@header-bg: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
@logo-color: #00C1EC;
@nav-link: #E4E4E4;
@hello-text-color: #E4E4E4;

//paralax height
@standart-paralax-height: 300px;
@stack-paralax-height: 250px;
@about-me-paralax-height: 250px;
@portfolio-paralax-height: 250px;
@footer-paralax-height: 200px;

//block width & height
@basic-side-top-padding: 20px;

//width
@desctope-width: 1200px;
@tablet-width: 900px;
@mobile-width: 700px;
